<div class="main-container">
  <div class="row">
  <app-complete-card></app-complete-card>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="card-title">
      <clr-icon shape="pencil" size="36"></clr-icon> &nbsp;
      <span>Questionnaire</span>
    </div>
    <div class="card-divider"></div>
    <div class="card-block">
      <div class="card-text">
        <clr-tabs>
          <clr-tab>
            <button clrTabLink id="link1">Physical Domain</button>
            <clr-tab-content id="content1" *clrIfActive>
              <form (ngSubmit)="onSubmit()" [formGroup]="form1">
                <div *ngFor="let question of questionGroup1" class="form-row">
                  <app-question [question]="question" [form]="form1"></app-question>
                </div>
              </form>
              <div *ngIf="payLoad" class="form-row">
                <strong>Saved the following values</strong><br>{{payLoad}}
              </div>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Behavioral Domain</button>
            <clr-tab-content>
              <form (ngSubmit)="onSubmit()" [formGroup]="form2">
                <div *ngFor="let question of questionGroup2" class="form-row">
                  <app-question [question]="question" [form]="form2"></app-question>
                </div>
              </form>
              <div *ngIf="payLoad" class="form-row">
                <strong>Saved the following values</strong><br>{{payLoad}}
              </div>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Spiritual Domain</button>
            <clr-tab-content>
              wfdefeferfe
            </clr-tab-content>
          </clr-tab>
        </clr-tabs>

      </div>
      <div class="card-footer">
        <div class="btn-group btn-primary">
          <button class="btn btn-primary" type="submit" [disabled]="!form2.valid">Submit</button>
          <button class="btn btn-success">Reset</button>
          <button class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
