<div class="main-container">
  <div class="row">
    <app-admin-card></app-admin-card>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <!-- input question part -->
      <div class="card">
        <div class="card-title">
          <clr-icon shape="library" size="36"></clr-icon> &nbsp;
          <span>Domain Management</span>
        </div>
        <div class="card-divider"></div>
        <div class="card-block">
          <div class="card-text">
            <div class="row">
              <!-- Treenode left side-->
              <div class="col-md-4">
                <clr-tree-node [(clrSelected)]="selected">
                  Physical domain
                  <ng-template [clrIfExpanded]="true">
                    <clr-tree-node
                      *ngFor="let permission of permissions"
                      [(clrSelected)]="permission.selected">
                      {{permission.type}}
                      <ng-template [(clrIfExpanded)]="permission.expanded">
                        <clr-tree-node *ngFor="let right of permission.rights" [(clrSelected)]="right.enable">
                          {{right.name}}
                        </clr-tree-node>
                      </ng-template>
                    </clr-tree-node>
                  </ng-template>
                </clr-tree-node>
              </div>
              <div class="col-md-8">
                <ng-template>
                  <ol class="list">
                    <li>...</li>
                    <li>
                      Ullamco laboris nisi ut aliquip
                      <ul class="list">
                        <li>Consequat</li>
                        <li>Adipisicing</li>
                        <li>Exercitation</li>
                      </ul>
                    </li>
                    <li>Reprehenderit in voluptate</li>
                    <li>
                      Mollit anim id
                      <ol class="list">
                        <li>Consequat</li>
                        <li>Adipisicing</li>
                        <li>Exercitation</li>
                      </ol>
                    </li>
                    <li>Reprehenderit in voluptate</li>
                  </ol>
                </ng-template>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
