<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="card-header">
      Administrator Info
    </div>
    <div class="card-block">
      <div class="card-media-block">
        <img src="../../../assets/user.png" class="card-media-image">
        <div class="card-media-description">
          <span class="card-media-title"> John Smith </span>
          <span class="card-media-text">  System Administrator </span>
        </div>
      </div>
      <br>
      <div class="card-text">
        <div class="card-divider"></div>
        <p class="card-title"> Total Completion this week</p>
        <br>
      <div class="progress-block">
        <label class="pro-label">Demographic</label>
        <div class="progress-static">
          <div class="progress-meter" data-value="20"></div>
        </div>
      </div>
      <div class="progress-block">
        <label class="pro-label">Physical</label>
        <div class="progress-static">
          <div class="progress-meter" data-value="50"></div>
        </div>
      </div>
      <div class="progress-block">
        <label class="pro-label">Behavioral</label>
        <div class="progress success">
          <progress value="44" max="100" data-displayval="...%"></progress>
        </div>
      </div>
        <br>

        <!--Visitors component TODO: add pie chart -->
        <div class="card-divider"></div>
        <div class="card-title"> Visotors Component</div>
    </div>
    </div>
    <div class="card-footer">
      <a href="..." class="card-link">More Information</a>
    </div>
  </div>
</div>
