 <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
   <div class="card">
     <div class="card-block">
       <div class="row">
         <h4 class="card-title"><strong>Session 1 Progress</strong></h4>
         <div class="toggle-switch">
           <input type="checkbox" id="toggle_4">
           <label for="toggle_4"></label>
         </div>
       </div>
       <p class="card-text">Start Date: 02/02/2018</p>
       <br>
       <div class="progress-block">
         <label class="pro-label">Demographic</label>
         <div class="progress-static">
           <div class="progress-meter" data-value="20"></div>
         </div>
       </div>
       <div class="progress-block">
         <label class="pro-label">Physical</label>
         <div class="progress-static">
           <div class="progress-meter" data-value="50"></div>
         </div>
       </div>
       <div class="progress-block">
         <label class="pro-label">Behavioral</label>
         <div class="progress success">
           <progress value="44" max="100" data-displayval="...%"></progress>
         </div>
       </div>
     </div>
     <div class="card-footer">
       <div class="progress-static top">
         <div class="progress-meter" data-value="..."></div>
       </div>
       <a href="..." class="card-link">Other Seesions</a>
     </div>
   </div>
 </div>
