<div class="main-container">
  <div class="row">
    <app-complete-card></app-complete-card>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card top-card">
        <div class="card-title">
          <clr-icon shape="view-list" size="36"></clr-icon> &nbsp;
          <span>Answer List</span>
        </div>
        <div class="card-divider"></div>
        <div class="card-block">
          <div class="card-text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
