<div class="main-container">
  <div class="row">
    <app-admin-card></app-admin-card>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <!-- input question part -->
      <div class="card">
        <div class="card-title">
          <clr-icon shape="add-text"></clr-icon> &nbsp;
          <span>Input New Question</span>
        </div>
        <div class="card-divider"></div>
        <div class="card-block">
          <div class="card-text">
            <p>gjenroin</p>

          </div>
        </div>
      </div>

      <!--question confirmation part -->
      <div class="card">
        <div class="card-title">
          <clr-icon shape="tasks"></clr-icon> &nbsp;
          <span>Confirm Question</span>
        </div>
        <div class="card-divider"></div>
        <div class="card-block">
          <div class="card-text">
            <p>gjenroin</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
